.unittests{
    display: none;
}
.content .plus,
.content .minus,
.content .text-content{
    display: inline-block;
}
.content .plus {
    background: #000;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.content .minus {
    background: #000;
    width: 15px;
    height: 15px;
    display: inline-block;
}
#new .initial-container {
    margin-left: 10px;
}
.grayed{
    color: gray;
}
.content .text{
    border: none;
    text-align: center;
}
h1{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.save{
    background: green;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: all 2s ease-in-out;
}
.save.active{
    color: RED;
}
.body,
header{
    width: 100%;
}